@use 'assets/scss/custom-colors.scss' as colors;

.header {
  background-color: colors.$primary;
  color: colors.$primary-font;
  min-height: 50px;

  .title {
    margin: 0 32px;
    min-width: max-content;
  }

  .hidden {
    display: none;
  }

  .mapSize {
    margin-left: 32px;
    width: 300px;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: none;

    .icon {
      height: 25px;
      width: 25px;
    }
  }

  .version {
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: 8px;
    align-self: flex-end;
    font-size: xx-small;
    opacity: 0.7;
  }
}

.floating-left-menu {
  float: left;
  display: none;

  .menu {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: colors.$primary;
    color: colors.$primary-font;
    border-radius: 8px;
    width: 100px;
    min-width: max-content;
    height: 300px;
    margin: 12px 0 0 12px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    float: left;
    width: 100%;

    .title {
      margin: 0 12px;
    }

    .menu-button {
      display: block;
    }

    button, .mapSize {
      display: none;
    }
  }

  .floating-left-menu {
    display: block;
    width: 400px;

    .menu {
      width: calc(100% - 32px);
      min-width: max-content;
    }
  }
}

// @media screen and (max-width: 480px) {
//   .floating-left-menu {
//     width: 400px;
//   }
// }
