// aplicacion colors
$white: #fff;
$white-50: #fffffe;
$white-100: #fffffd;
$white-150: #f8f8f8;
$white-200: #d6d6d6;
$white-100-fade: #fffffd05;

$border-grey: #7d7d7d;
$border-grey-50: #7d7d7d50;

$grey-dark: #444444;

$background: #000000;

// dark red theme
$primary: #5c0000;
$primary-50: #5c000050;
$primary-constrast: #ff0000;

$primary-font: #f8c373;
$primary-font-50: #f8c37350;

$secondary: #ffe5dc;
$secondary-font: $primary;
