@use 'assets/scss/custom-colors.scss' as colors;

.main-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc((var(--vh, 1vh) * 100) - 12px);
  min-width: 100%;
  background-color: colors.$background;
  overflow: auto;

  .tokens {
    pointer-events: all;
    margin-top: 50px;
    height: 0;
    width: 0;
    z-index: 4;

    .token-wrap {
      height: 0;
      width: 0;
      z-index: 4;
      position: relative;

      .dragable{
        z-index: 4;
        cursor: move;
        background-color: colors.$grey-dark;
        border-radius: 50%;
        border: 2px solid colors.$white;
      }

      .small-token {
        width: calc(var(--token-size) * 0.75);
        height: calc(var(--token-size) * 0.75);
      }

      .medium-token {
        width: var(--token-size);
        height: var(--token-size);
      }

      .large-token {
        width: calc(var(--token-size) * 2.2);
        height: calc(var(--token-size) * 2.2);
      }

      .enormous-token {
        width: calc(var(--token-size) * 3.3);
        height: calc(var(--token-size) * 3.3);
      }

      .gargantuan-token {
        width: calc(var(--token-size) * 4.5);
        height: calc(var(--token-size) * 4.5);
      }

      .token-menu {
        z-index: 5;
        width: max-content;
        height: max-content;
        background-color: colors.$white-150;
        border-radius: 4px;
        padding: 0.6rem;
        font-size: 0.6rem;

        .attributes {
          display: flex;
          flex-direction: column;

          .atribute {
            display: flex;
            flex-direction: row;
            align-items: center;

            .atribute-label {
              color: colors.$primary;
              margin-right: 5px;
              max-width: 100px;
              border: 1px solid colors.$border-grey-50;
              border-radius: 4px;
            }

            .value {
              margin: 0 5px;
            }

            .delete-button {
              max-width: 15px;
              max-height: 15px;

              img {
                max-width: 10px;
                max-height: 10px;
              }
            }
          }
        }

        .menu-footer {
          display: flex;
          justify-content: flex-end;
          margin-top: 15px;
        }
      }
    }
  }
  .map {

    pointer-events: none;
    user-select: none;
    position: static;
    z-index: 1;
    overflow: auto;
    overflow-y: scroll;
  }

  .grid-wrapper {
    pointer-events: none;
    user-select: none;
    height: 0;
    .grid {
      z-index: 2;
      pointer-events: none;
      user-select: none;
      position: relative;
      opacity: 0.5;
      background-size: calc(var(--token-size) + 10px) calc(var(--token-size) + 10px);
      background-image: linear-gradient(to right, colors.$border-grey 1px, transparent 1px),
              linear-gradient(to bottom, colors.$border-grey 1px, transparent 1px);
      height: calc(var(--token-size) * 300);
      min-height: 100%;
      margin-top: calc(var(--token-size) * (-150));
    }
  }
}
