<div class="terms-wrapper">
  <h3>{{ "TERMS.TITLE" | translate }}</h3>
  <h4>{{ "TERMS.SECTION_1.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_1.TEXT_1" | translate }}</p>
  <p>{{ "TERMS.SECTION_1.TEXT_2" | translate }}</p>
  <p>{{ "TERMS.SECTION_1.TEXT_3" | translate }}</p>
  <p>{{ "TERMS.SECTION_1.TEXT_4" | translate }}</p>
  <h4>{{ "TERMS.SECTION_2.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_2.TEXT_1" | translate }}</p>
  <h4>{{ "TERMS.SECTION_3.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_3.TEXT_1" | translate }}</p>
  <h4>{{ "TERMS.SECTION_4.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_4.TEXT_1" | translate }}</p>
  <p>{{ "TERMS.SECTION_4.TEXT_2" | translate }}</p>
  <p>{{ "TERMS.SECTION_4.TEXT_3" | translate }}</p>
  <h4>{{ "TERMS.SECTION_5.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_5.TEXT_1" | translate }}</p>
  <h4>{{ "TERMS.SECTION_6.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_6.TEXT_1" | translate }}</p>
  <h4>{{ "TERMS.SECTION_7.TITLE" | translate }}</h4>
  <p>{{ "TERMS.SECTION_7.TEXT_1" | translate }}</p>

  <div class="u-flex u-flex-space-end">
    <button
      mat-raised-button
      color="secondary"
      (click)="onClose()"
    >
      {{ "TERMS.CLOSE" | translate }}
    </button>

  </div>
</div>
